In [ ]:
import pandas as pd
import dateutil

In [ ]:
from google.colab import files

uploaded = files.upload()

lista_dts = []

for fn in uploaded.keys():
  filename = fn
  input = pd.read_csv(fn, index_col="ReferÃªncia")
  lista_dts.append(input)
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving fechados_maio_2020.csv to fechados_maio_2020.csv
Saving fechados_abril_2020.csv to fechados_abril_2020.csv
Saving fechados_junho_2020.csv to fechados_junho_2020.csv
User uploaded file "fechados_maio_2020.csv" with length 27412 bytes
User uploaded file "fechados_abril_2020.csv" with length 31211 bytes
User uploaded file "fechados_junho_2020.csv" with length 38352 bytes

In [ ]:
assysts = pd.concat(lista_dts, axis=0, ignore_index=True)

In [ ]:
assysts

    Estado (texto) Sprint  ... Data de atribuiÃ§Ã£o Data de registro
0          FECHADO    NaN  ...     26/05/20 15:06         06/03/20
1          FECHADO    NaN  ...     04/05/20 13:56         11/03/20
2          FECHADO    NaN  ...     16/04/20 14:25         16/04/20
3          FECHADO    NaN  ...     11/05/20 07:48         24/04/20
4          FECHADO    NaN  ...     06/05/20 11:19         06/05/20
..             ...    ...  ...                ...              ...
532        FECHADO    NaN  ...     30/06/20 09:52         29/06/20
533        FECHADO    NaN  ...     29/06/20 17:43         29/06/20
534        FECHADO    NaN  ...     30/06/20 09:55         29/06/20
535        FECHADO    NaN  ...     30/06/20 14:55         30/06/20
536        FECHADO    NaN  ...     30/06/20 15:41         30/06/20

[537 rows x 16 columns]

In [ ]:
assysts.groupby(['Nome do Item', 'Nome de categoria'])['Nome do Item'].count()

Nome do Item                    Nome de categoria
ADMINISTRAÃÃO E BANCO DE DADOS  USUÃRIO/ROLE/PERMISSÃES(PESSOAL/APLICAÃÃO)     1
ASCENSÃO FUNCIONAL              OUTRAS SOLICITAÃÃES                            2
BI - INTELIGÃNCIA DE NEGÃCIO    RELATÃRIOS                                    24
CADASTRO - AIX                  ERRO/FALHA                                    11
                                INDISPONIBILIDADE                              1
                                                                              ..
SUA NOTA TEM VALOR              MELHORIA                                       7
SUA NOTA VALE DINHEIRO          OUTRAS SOLICITAÃÃES                            2
USUÃRIO DE REDE                 ACESSO REMOTO VPN                              1
                                CRIAR INTEGRAÃÃO DE SISTEMAS                   1
USUÃRIO DE SISTEMA              SAPAT                                          3
Name: Nome do Item, Length: 88, dtype: int64

In [ ]:
type(assysts)

pandas.core.frame.DataFrame

In [ ]:
colunas = ['Nome do Item', 'Nome de categoria', 'Data de ResoluÃ§Ã£o', 'Data de registro', 'Data de atribuiÃ§Ã£o']
assysts_calculo = assysts.loc[: , colunas]

In [ ]:
assysts_calculo

                          Nome do Item  ... Data de atribuiÃ§Ã£o
0    SERVIÃO DE SENHAS/AMBIENTE SEGURO  ...     26/05/20 15:06
1                               SOLARE  ...     04/05/20 13:56
2                              SISCOEX  ...     16/04/20 14:25
3                       CADASTRO - AIX  ...     11/05/20 07:48
4                                 ITCD  ...     06/05/20 11:19
..                                 ...  ...                ...
532                     CADASTRO - AIX  ...     30/06/20 09:52
533                     CADASTRO - AIX  ...     29/06/20 17:43
534                     CADASTRO - AIX  ...     30/06/20 09:55
535                               ITCD  ...     30/06/20 14:55
536                 USUÃRIO DE SISTEMA  ...     30/06/20 15:41

[537 rows x 5 columns]

In [ ]:
data_resolucao = pd.to_datetime(assysts_calculo['Data de ResoluÃ§Ã£o'],format="%d/%m/%y %H:%M")
data_resolucao

0     2020-06-01 10:49:00
1     2020-05-05 11:16:00
2     2020-05-18 11:58:00
3     2020-05-11 07:59:00
4     2020-05-06 11:26:00
              ...
532   2020-06-30 10:10:00
533   2020-06-29 17:55:00
534   2020-06-30 10:13:00
535   2020-06-30 14:57:00
536   2020-06-30 16:16:00
Name: Data de ResoluÃ§Ã£o, Length: 537, dtype: datetime64[ns]

In [ ]:
data_registro  = pd.to_datetime(assysts['Data de registro'], format="%d/%m/%y" )
data_registro

0     2020-03-06
1     2020-03-11
2     2020-04-16
3     2020-04-24
4     2020-05-06
         ...
532   2020-06-29
533   2020-06-29
534   2020-06-29
535   2020-06-30
536   2020-06-30
Name: Data de registro, Length: 537, dtype: datetime64[ns]

In [ ]:
data_atribuicao = pd.to_datetime(assysts_calculo['Data de atribuiÃ§Ã£o'],format="%d/%m/%y %H:%M")
data_atribuicao

0     2020-05-26 15:06:00
1     2020-05-04 13:56:00
2     2020-04-16 14:25:00
3     2020-05-11 07:48:00
4     2020-05-06 11:19:00
              ...
532   2020-06-30 09:52:00
533   2020-06-29 17:43:00
534   2020-06-30 09:55:00
535   2020-06-30 14:55:00
536   2020-06-30 15:41:00
Name: Data de atribuiÃ§Ã£o, Length: 537, dtype: datetime64[ns]

In [ ]:
assysts_calculo['Tempo Gasto'] = (data_resolucao - data_atribuicao).dt.days
assysts_calculo['Tempo de vida'] = (data_resolucao - data_registro).dt.days
assysts_calculo

                          Nome do Item  ... Tempo de vida
0    SERVIÃO DE SENHAS/AMBIENTE SEGURO  ...            87
1                               SOLARE  ...            55
2                              SISCOEX  ...            32
3                       CADASTRO - AIX  ...            17
4                                 ITCD  ...             0
..                                 ...  ...           ...
532                     CADASTRO - AIX  ...             1
533                     CADASTRO - AIX  ...             0
534                     CADASTRO - AIX  ...             1
535                               ITCD  ...             0
536                 USUÃRIO DE SISTEMA  ...             0

[537 rows x 7 columns]

In [ ]:
assysts_calculo.sort_values(by = 'Tempo Gasto', ascending=False)

                     Nome do Item  ... Tempo de vida
386                         DERHU  ...           250
34                        SISCOEX  ...           189
387                DERHU â FÃRIAS  ...           142
385        INTEGRAÃÃO DE SISTEMAS  ...           294
384        INTEGRAÃÃO DE SISTEMAS  ...           310
..                            ...  ...           ...
216                     CREDENCIA  ...             2
536            USUÃRIO DE SISTEMA  ...             0
62            CADASTRO â INTERNET  ...             0
259                       RECEITA  ...             1
53   NFE - NOTA FISCAL ELETRÃNICA  ...            14

[537 rows x 7 columns]

In [ ]:
referencia = 'SAPAT'
assysts_calculo.loc[assysts_calculo['Nome do Item'] == referencia]

NameError: ignored

In [ ]:
assysts_calculo.groupby(['Nome do Item', 'Nome de categoria'])['Tempo Gasto'].mean()

Nome do Item                    Nome de categoria
ADMINISTRAÃÃO E BANCO DE DADOS  USUÃRIO/ROLE/PERMISSÃES(PESSOAL/APLICAÃÃO)     1.000000
ASCENSÃO FUNCIONAL              OUTRAS SOLICITAÃÃES                           73.500000
BI - INTELIGÃNCIA DE NEGÃCIO    RELATÃRIOS                                     4.500000
CADASTRO - AIX                  ERRO/FALHA                                     0.000000
                                INDISPONIBILIDADE                              0.000000
                                                                                ...
SUA NOTA TEM VALOR              MELHORIA                                      85.142857
SUA NOTA VALE DINHEIRO          OUTRAS SOLICITAÃÃES                            5.500000
USUÃRIO DE REDE                 ACESSO REMOTO VPN                             22.000000
                                CRIAR INTEGRAÃÃO DE SISTEMAS                   0.000000
USUÃRIO DE SISTEMA              SAPAT                                          2.333333
Name: Tempo Gasto, Length: 88, dtype: float64

In [ ]:
assysts_final = assysts_calculo.groupby(['Nome do Item', 'Nome de categoria']).agg(qtd=('Nome do Item', 'count'), media_gasto=('Tempo Gasto', 'mean'), media_vida=('Tempo de vida', 'mean')).reset_index()
assysts_final

                      Nome do Item  ... media_vida
0   ADMINISTRAÃÃO E BANCO DE DADOS  ...   1.000000
1               ASCENSÃO FUNCIONAL  ...  75.000000
2     BI - INTELIGÃNCIA DE NEGÃCIO  ...   8.333333
3                   CADASTRO - AIX  ...   0.272727
4                   CADASTRO - AIX  ...  17.000000
..                             ...  ...        ...
83              SUA NOTA TEM VALOR  ...  85.285714
84          SUA NOTA VALE DINHEIRO  ...   6.500000
85                 USUÃRIO DE REDE  ...  23.000000
86                 USUÃRIO DE REDE  ...  22.000000
87              USUÃRIO DE SISTEMA  ...   3.000000

[88 rows x 5 columns]

In [ ]:
assysts_final.sort_values(by = 'count', ascending=False)

KeyError: ignored

In [ ]:
assysts_final.to_excel('assysts.xls')